client_id = "{{ oauth2_proxy_client_id }}"
client_secret = "{{ oauth2_proxy_client_secret }}"
cookie_domain = "{{ oauth2_proxy_cookie_domain }}"
cookie_expire = "{{ oauth2_proxy_cookie_expire }}"
cookie_name = "{{ oauth2_proxy_cookie_name }}"
cookie_secret = "{{ oauth2_proxy_cookie_secret }}"
cookie_secure = "{{ oauth2_proxy_cookie_secure }}"
email_domains = {{ oauth2_proxy_email_domains }}
github_org = "{{ oauth2_proxy_github_org }}"
pass_access_token = "{{ oauth2_proxy_pass_access_token }}"
pass_host_header = "{{ oauth2_proxy_pass_host_header }}"
provider = "{{ oauth2_proxy_provider }}"
upstreams = {{ oauth2_proxy_upstreams }}
